<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todos</title>
    <link href="https://fonts.googleapis.com/css?family=Sarabun" rel="stylesheet">
    <link href="style.css" rel="stylesheet"></link>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="wrapper-todos">
        <h1>Todos</h1>
        Add a todo
        <input type="text" placeholder="E.g Feed the cat" v-model="newTodoText" />
        <button v-on:click="addTodo">Add</button>

        <ul v-for="todo in bypassTodos">
            <li :key="todo.id">
                {{todo.title}} <button v-on:click="removieTodo(todo.id)">Removie</button>
            </li>
        </ul>
    </div>
    <script src="vue.js"></script>
</body>

</html>
